:root {
  --bg-inner: white;
  --bg-outer: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  position: relative;
}

.container {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  background-image: radial-gradient(var(--bg-inner) 0%, var(--bg-outer) 100%);
}
.container svg {
  width: 100%;
  aspect-ratio: 1;
}
.container svg * {
  shape-rendering: geometricPrecision;
}
.container svg rect {
  shape-rendering: crispEdges;
}